@charset "utf-8";
html{
    scroll-behavior: smooth;
}
#wrap {
    width: 100%;
    min-width: 1280px;
    overflow: hidden;
}
.inner{
    width:1600px;
    margin:0 auto;
}
#loading{
    width:100%;
    height:970px;
    position:fixed;
    top:0;
    left:0;
    background-color: #e5e5e5;
    text-align: center;
    z-index: 10000;
}
#loading .loading_logo{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    animation: round 3s linear;
}
#loading .loading_logo img{
    width:100%;
}
@keyframes round{
    0%{
        transform: translate(-50%,-50%) rotate(0);
    }
    100%{
        transform: translate(-50%,-50%) rotate(360deg);
    }
}
#home{
    height:970px;
    background-color:#fff;
    position: relative;
}
header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background-color: #fff;
    box-shadow: 5px 5px 10px rgb(233, 233, 233);
    z-index: 100;
}
header nav{
    height:90px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    padding:0 130px;
}
header nav h1{
    line-height: 80px;
}
header nav ul{
    display: flex;
    line-height: 90px;
}
header nav li{
    width:150px;
    text-align: center;
}
header nav li a{
    font-size: 20px;
    transition: .5s;
}
header nav li a:hover{
    color:#7390e8;
    letter-spacing: 5px;
}
header nav li.active{
    color:#7390e8;
    letter-spacing: 5px;
}
#home .simpleUsage_01{
    position: absolute;
    top:250px;
    left:200px;
    width:670px;
    font-size:62px;
    font-weight: 400;
    background-color: #ffe1fe;
    color:#fff;
}
#home .simpleUsage_02{
    position: absolute;
    top:350px;
    left:200px;
    width:600px;
    font-size:62px;
    font-weight: 400;
}
#home .text{
    position: absolute;
    top:510px;
    left:200px;
    font-size:24px;
}
#home .coding_icon{
    position: absolute;
    top:280px;
    right:600px;
    font-size:24px;
    animation: move 2s infinite linear;
    animation-direction:alternate;
}
@keyframes move{
    0%{transform: rotate(-10deg);}
    100%{transform: rotate(10deg);}
}
#home .html_icon{
    position: absolute;
    top:330px;
    right:300px;
    font-size:24px;
    animation: icon 2s infinite linear;
    animation-direction:alternate-reverse;
}
@keyframes icon{
    0%{transform: rotate(-10deg);}
    100%{transform: rotate(10deg);}
}
#home .scroll{
    position: absolute;
    bottom:30px;
    left:50%;
    transform: translate(-50%,0);
    animation: scroll 1s infinite linear;
}
@keyframes scroll{
    0%{bottom:30px;}
    50%{bottom:25px;}
    100%{bottom:20px;}
}
#home .illust{
    position: absolute;
    right:200px;
    bottom:200px;
}
#about{
    height:970px;
    background-color: white;
    border-top:.5px solid #999;
}
#about .inner{
    display: flex;
    justify-content: space-between;
}
/* pr */
.pr{
    padding:200px 0 0 50px;
    opacity:0;
    transition: 2s;
}
.pr.show{
    opacity:1;
}
.pr h1{
    font-family: 'NanumSquare', sans-serif !important;
    font-weight: 400;
    font-size: 45px;
    line-height:55px;
}
.pr h1 span{
    display:inline;
    box-shadow: inset 0 -20px 0 #ffe1fe;
}
.pr .birth{
    font-family: 'NanumSquare', sans-serif !important;
    color:#808080;
    margin-top:10px;
}
.pr .pr_text{
    margin-top:80px;
    font-size: 17px;
}
.pr .pr_text .second{
    margin-top:35px;
}
.pr .academy{
    margin-top:80px;
}
.pr .academy p.date{
    color:#808080;
    font-size: 14px;
    margin-bottom:4px;
}
.pr .academy span.ac_name{
    font-size: 18px;
    color:#4ba46a;
    font-weight: 500;
}
.pr .academy span.ac_con{
    font-size: 18px;
    margin-left:35px;
}
.pr .academy p.wd{
    font-size: 18px;
    margin-top:5px;
    margin-left:171px;
}
/* skills */
#about .skills {
    width: 900px;
    /* margin-top:150px; */
    height:850px;
    padding-top:200px;
    padding-left:50px;
    padding-right:50px;
    box-sizing: border-box;
    background-color: #fff;
    color: inherit;
}
.item{
    margin-bottom:35px;
}
.item.last{
    margin-bottom:0px;
}
.item .icon{
    float:left;
}
.progress {
    width: 600px;
    background-color: #b6b6b6;
    height: 25px;
    border-radius: 50px;
    display: inline-block;
    margin-top:20px;
    margin-left:30px;
}

.progress-level {
    height: 25px;
    background-color: #c2cbf4;
    border-radius: 50px;
    animation-name: bar;
    animation-duration: 2s;
    opacity:0;
}
.progress-level.show{
    opacity:1;
}
.item .percent{
   float:right;
   margin-right:40px;
   line-height:20px;
   margin-top:22px;
   font-size:20px;
}
.item p{
    margin-left:105px;
    margin-top:10px;
    font-size: 15px;
}
@keyframes bar {
    0% {
        width: 0;
    }
}
.progress-level[data-score="100%"] {
    width: 100%;
}

.progress-level[data-score="95%"] {
    width: 95%;
}

.progress-level[data-score="90%"] {
    width: 90%;
}

.progress-level[data-score="85%"] {
    width: 85%;
}

.progress-level[data-score="80%"] {
    width: 80%;
}

.progress-level[data-score="75%"] {
    width: 75%;
}

.progress-level[data-score="70%"] {
    width: 70%;
}

.progress-level[data-score="60%"] {
    width: 60%;
}

.progress-level[data-score="50%"] {
    width: 50%;
}

#portfolio{
    height:970px;
    background-color:#fff;
    border-top:.5px solid #999;
}
#portfolio .slide{
    position:relative;
}
.slide .sd{
    display: flex;
    justify-content: space-evenly;
    position:absolute;
    top:0;
    left:0;
    overflow: hidden;
}
.bx-wrapper{
    box-shadow: none;
    border:none;
    background:none;
}
.bx-wrapper .bx-controls-direction a{
    width:41px;
    height:41px;
}
.bx-wrapper a.bx-prev{
    left:100px;
    background: url(../images/arr_left.png) no-repeat;
}
.bx-wrapper a.bx-next{
    right:100px;
    background: url(../images/arr_right.png) no-repeat;
}
.bx-wrapper .bx-pager{
    padding:0;
}

/* list */
.list{
    margin-top:150px;
    width:632px;
    height:729px;
    padding:70px 80px;
    box-sizing: border-box;
    background-color: #e3e9fa;
}
.list .myname{
    font-size: 20px;
}
.list .pf_num{
    font-size: 25px;
    letter-spacing: -1px;
    margin-bottom: 130px;
}
.list .title{
    font-size: 65px;
    font-weight: 600;
}
.list .subject{
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom:20px;
}
.list .cont{
    font-size: 15px;
    line-height: 24px;
    margin-bottom:20px;
}
.list a{
    color:#7390e8;
    border: 1px solid #7390e8;
    background:none;
    overflow: hidden;
    padding:5px 20px;
    position: relative;
    transition:.5s all linear;
}
.list a.view{
    margin-right:15px;
}
.list a:hover{
    color:white;
    background-color: #7390e8;
}
.list .etc{
    font-size: 11px;
    color:#a9a8a8;
    margin-top:20px;
}
/* image */
.image{
    margin-top:150px;
    box-shadow: 5px 5px 10px rgba(100,100,100,0.4);
    /* cursor: pointer; */
    position: relative;
}
.image .go{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    z-index: 100;
    opacity: 0;
    transition: .5s;
}
.image .bg{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(100,100,100,0.4);
    opacity: 0;
    transition: .5s;
}
#others{
    height:970px;
    background-color: #e3e9fa;
    padding-top:150px;
    padding-bottom:50px;
    box-sizing: border-box;
}
.others_bg{
    width:1280px;
    background-color:white;
    padding:50px;
    box-sizing: border-box;
}
.work{
    display: flex;
}
.work01,.work02{
    margin-bottom:50px;
}
.work .work_photo{
    position: relative;
}
.work .work_go{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    z-index: 100;
    opacity: 0;
    transition: .5s;
}
.work .work_bg{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(100,100,100,0.4);
    opacity: 0;
    transition: .5s;
}
.work .work_cont{
    float:left;
    margin-left:50px;
}
.work .work_cont h3{
    color:#7390e8;
    border-bottom:.5px solid #7390e8;
    padding-bottom: 5px;
    margin-bottom:15px;
    font-size:20px;
}
.work .work_cont h2{
    font-size:25px;
    font-weight: 500;
    margin-bottom:15px;
}
.work .work_cont h2 a{
    display: inline-block;
    width:123px;
    padding:5px 0;
    margin-left:50px;
    text-align: center;
    font-size:16px;
    font-weight: 400;
    background-color: #7390e8;
    color:white;
}
.work .work_cont .work_txt{
    margin-bottom:10px;
}
.work .work_cont .work_notice{
    color: #a9a8a8;
    font-size:11px;
    font-weight: 300;
}

#contact{
    height:970px;
    padding-top:200px;
    padding-bottom:150px;
    box-sizing: border-box;
}
#contact .contact_txt{
    display: flex;
    justify-content: space-around;
}
#contact .contact_txt div{
    width:820px;
    padding-right:350px;
    box-sizing: border-box;
    opacity: 0;
    transition: 2s;
}
#contact .contact_txt div.show{
    opacity:1;
}
#contact .contact_txt div h2{
    font-size: 45px;
    color: #7390e8;
    font-weight: 500;
    letter-spacing: 5px;
    margin-bottom: 50px;
    margin-top:90px;
}
#contact .contact_txt div h2 span{
    display:inline;
    box-shadow: inset 0 -20px 0 #ffe1fe;
}
#contact .contact_txt div .goal{
    font-size:24px;
    margin-bottom: 50px;
}
#contact .contact_txt div .visit{
    font-size:24px;
    margin-bottom: 180px;
}
#contact .contact_txt div .mine{
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 30px;
    margin-bottom: 10px;
}
#contact .contact_txt div .mine span{
    display: inline-block;
    width:130px;
    margin-left:15px;
    text-align: center;
    background-color: #c2cbf4;
    font-size: 14px;
    color:white;
    cursor:pointer;
}
.port{
    color:#9a9a9a;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 200;
}