#wrap{
    margin:0;
    padding:0;
}
.inner{
    width:1200px;
    margin:0 auto;
}
/* quick */
/* #quick{
    position:absolute;
    bottom:20px;
    right:20px;
    border-top:2px solid rgb(255, 102, 0);
    border-bottom:2px solid rgb(255, 102, 0);
    border-left:1px solid rgb(230, 228, 228);
    border-right:1px solid rgb(230, 228, 228);
} */

#quick img{
    display: block;
    border-bottom: 1px solid rgb(230, 228, 228);
}
#quick img:nth-child(8){
    border-bottom: 0px;
}
/* popup */
#popup1{
    position: fixed;
    bottom: 10px;
    right:10px;
}
#popup1 .close{
    position: absolute;
    top:0;
    right:0;
}
/*********************header****************************/
#header .top{
    background-color: #222;
    color:rgb(216, 215, 215);
    height:30px;
}
#header .top span{
    float:left;
    font-size:13px;
    line-height: 30px;
}
#header .top ul{
    float:right;
    line-height: 30px;
}
#header .top ul li{
    float:left;
    font-size:12px;
    letter-spacing: -1px;
}
#header .top ul li a{
    border-right:1px solid rgb(75, 75, 75);
    padding:0 10px;
}
#header .top ul li:last-child{
    color:yellow;
}
#header .slide{
    position:relative;
    width:100%;
    overflow:hidden;
    height:390px;
}
/* #header .arr_left{
    position:absolute;
    top:50%;
    transform: translatey(-50%);
    cursor:pointer;
} */
#header .slide div a{
    position:absolute;
    top:0;
    left:300px;
    width:100%;
    height:100%;
    opacity:0;
    transition:1s;
}
#header .slide div a.active{
    opacity:1;
    left:0;
}

/* #nav */
#nav{
    border-bottom: 2px solid rgb(209, 208, 208);
    color:#222;
    position:relative;
}
#nav ul{
    display: flex;
    height:50px;
}
#nav ul li{
    
}
#nav ul li>a{
    display: block;
    justify-content:space-between;
    margin:0 22px;
    line-height: 50px;
    letter-spacing: -1px;
}
#nav ul li .sub_menu{
    margin-top:10px;
    display: none;
    position: relative;
    z-index:100;
}
#nav ul li .sub_menu a{
    display: block;
    height:40px;
    line-height: 40px;
    text-align: center;
    font-size:14px;
    color:rgb(153, 152, 152);
    letter-spacing: -1px;
}
#nav .nav_bg{
    display: block;
    width:1200px;
    height:300px;
    background-color: white;
    position:absolute;
    top:100%;
    right:0;
    z-index:0;
    display: none;
}
#nav ul li:hover{
    background-color:rgb(103, 22, 168);
    color:white;
}
#nav ul li .sub_menu a:hover{
    font-weight: bold;
    color:rgb(22, 22, 22);
}

/*********************section****************************/
/* section1 */
#sec1{
    margin-top: 55px;
    margin-bottom:30px;
}
#sec1 .fillart{
    float:left;
    /* border:1px solid red; */
    padding:0 15px;
}
#sec1 .fillart h1{
    color:#333;
    margin-top:25px;
    letter-spacing: -1px;
}
#sec1 .fillart h2{
    color: rgb(81, 17, 133);
    font-size:36px;
    letter-spacing: -5px;
}
#sec1 .fillart span{
    display: block;
    font-size:15px;
    color:#222;
    letter-spacing: -1px;
    margin-top:100px;
    margin-bottom:40px;
}
#sec1 ul{
    float:right;
}
#sec1 ul li{
    float:left;
    background-color: rgb(243, 243, 243);
    border: 1px solid rgb(224, 223, 223);
    text-align: center;
}
#sec1 ul li:last-child{
    border: 2px solid rgb(81, 17, 133);
}
#sec1 ul li img{
    margin:10px 10px;
}
#sec1 ul li p.fir{
    font-size:20px;
    color:#333;
    letter-spacing: -1px;
    margin-top:25px;
    margin-bottom:5px;
}
#sec1 ul li p.second{
    font-size:15px;
    color:#333;
    letter-spacing: -2px;
    margin-top:5px;
    margin-bottom:40px;
}

/* section2 */
#sec2{
    margin-bottom:30px;
}
/* section3 */
#sec3{
    margin-bottom:30px;
}
/* section4 */
#sec4{
    margin-bottom:20px;
}
#sec4 .notice{
    float:left;
    border:1px solid #999;
}
#sec4 .notice p{
    font-size:12px;
    letter-spacing: 1px;
    margin:7px 0;
    margin-left:5px;
    cursor:pointer;
}
#sec4 .player{
    float:right;
}
/* section5 */
#sec5 {
    margin-bottom:60px;
}
/* section6__후기 */
#sec6{
    margin-bottom:60px;
}
#sec6 h2, #sec7 h2{
    color:#222;
    font-size:38px;
    letter-spacing: -3px;
    margin-bottom:15px;
}
#sec6 h2 span:nth-child(1),
#sec7 h2 span:nth-child(1){
    border-top:3px solid #222;
}
#sec6 h2 span:nth-child(2),
#sec7 h2 span:nth-child(2){
    color:rgb(167, 165, 165);
    font-weight: normal;
    font-size:25px;
    letter-spacing: -1px;
}
#sec6 .left{
    float:left;
    width:600px;
}
#sec6 .left div{
    float:left;
}
#sec6 .left .vertical{
    margin-bottom:15px;
}
#sec6 .left .vertical div{
    position:relative;
}
#sec6 .left .vertical .p01{
    margin-right:15px;
}
#sec6 .left .vertical .p02{
    margin-bottom:15px;
}
#sec6 .left .horizontal{
    position:relative;
}
#sec6 .right{
    float:right;
    width:600px;
}
#sec6 .right .up{
    margin-bottom:13px;
}
#sec6 .right .up div{
    float:right;
    position:relative;
}
#sec6 .right .up .p05{
    margin-right:15px;
}
#sec6 .right .down div{
    float:right;
    position:relative;
}
#sec6 .right .down .p07{
    width:283px;
    height:190px;
    background-color: rgb(255, 209, 36);
    text-align: center;
    float:right;
    margin-bottom:14px;
}
#sec6 .right .down .p07 p{
    margin-top:75px;
    color:#222;
    font-weight: bold;
    letter-spacing: -1px;
}
#sec6 .right .down .p07,.p08{
    margin-right:15px;
}
#sec6 .right .down .p09{
    width:292px;
    height:395px;
    background-color: rgb(255, 209, 36);
    text-align: left;
    float:right;
}
#sec6 .right .down .p09 h1{
    color:#333;
    font-size:34px;
    letter-spacing: -5px;
    margin-top:230px;
    margin-left:100px;
    text-decoration: underline;
}
.click{
    position:absolute;
    bottom:10px;
    left:15px;
}
.like{
    position:absolute;
    bottom:10px;
    right:15px;
}

/* section7__교과과정 */
#sec7 .edu{
    margin-bottom: 20px;
}
#sec7 ul{
}
#sec7 ul li{
    text-align: center;
    margin-bottom:60px;
}
#sec7 ul li img{
    margin-right:15px;
}
#sec7 ul li img.last{
    margin-right:0px;
}
#sec7 .second_ul{
    display: none;
}
#sec7 p{
    text-align: center;
    border: 1px solid #999;
    padding:10px 0;
    cursor: pointer;
}
/* section9__map */
#sec9{
    margin-bottom:40px;
}
#sec9 .map{
    float:left;
    margin-right:10px;
}
#sec9 .news,.center{
    float:left;
    text-align: left;
    font-size:12px;
    border-left:1px solid #999;
    border-bottom:1px solid #999;
    height:435px;
}
#sec9 .center{
    border-right: 1px solid #999;
}
#sec9 .news img,
#sec9 .center img{
    margin-bottom: 20px;
}
#sec9 .news p,
#sec9 .center p{
    margin:5px 0;
    margin-left: 40px;
    cursor: pointer;
}
/*********************footer****************************/
#footer{
    color:#222;
}
#footer h1{
    float: left;
    margin-top:30px;
}
#footer .personal{
    float: left;
    margin-top:20px;
}
#footer .personal span{
    margin-right:20px;
    letter-spacing: -2px;
}
#footer .personal .p01{
    margin-top:20px;
}
#footer .personal p{
   color:#888;
   margin-bottom: 3px;
   font-size: 14px;
}
#footer ul{
    float:right;
    width:550px;
    margin:0 auto;
    text-align: center;
    padding:20px 0;
}
#footer ul li{
    float:left;
    width:170px;
    text-align: center;
    margin-bottom: 15px;
    letter-spacing: -2px;
}