@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap');

* {
      margin: 0;
      padding: 0;
}
body {
      font-size: 16px;
      color: #3a3939;
      font-family: 'Noto Sans KR', sans-serif;
}
ul,
ol,
li {
      list-style-type: none
}
img{
      border: none;
      vertical-align: middle
}
hr {
      clear: both;
      border: none
}
a {
      color: inherit;
      text-decoration: none
}
table {
      border-collapse: collapse
}
input,
textarea {
      color: inherit;
      font-size: inherit;
      font-family: inherit;
      vertical-align: middle
}
input:focus{
      outline: none;
}
select:focus{
      outline:none;
}