    @charset "utf-8";

    #wrap{
        width:100%;
        min-width:1280px;
    }

    .inner{
        width:1240px;
        margin:0 auto;
    }
    .inner_2{
        width:610px;
        margin:0 auto;
    }
    input:focus{
        outline:none;
    }
    /* ---------- header 시작 ---------- */
    header>h1{
        width:100%;
        margin:0 auto;
        text-align: center;
        margin-top:30px;
        position:relative;
    }

    header h1 .left{
        width:875px;
        float:left;
        margin-top:75px;
    }

    header h1 .center{
        float:left;
    }
    header h1 .right{
        width:875px;
        float:left;
        margin-top:75px;
    }

    /* nav  */
    nav ul{
        width:100%;
        height:40px;
        text-align: center;
        margin-bottom: 20px;
        margin-top:20px;
    }
    nav ul li{
        float:left;
        font-size: 18px;
        line-height: 40px;
        padding: 0 40px;
    }
    nav ul li .search{
        float:right;
        width:30px;
        height:40px;
        line-height:35px;
    }
    nav ul li .search img{
        width:100%;
        cursor:pointer;
    }

    nav ul li input{
        width:200px;
        font-size:15px;
        line-height:35px;
        border-radius: 35px;
        float:left;
        margin-right:13px;
    }
    /* ---------- main > section_content---------- */
    #content .join{
        text-align: center;
        text-decoration: underline;
        font-size: 22px;
        padding-top:50px;
        margin-bottom: 40px;
    }
    #content .surely{
        float:right;
        color:#888;
    }
    #content .surely span{
        color:red;
    }
    #content .sns{
        text-align: center;
        margin-bottom: 25px;
    }
    #content .sns img{
        padding:0 20px;
    }

    /* form  */
    #content form{
        width:620px;
        height:870px;
        margin:0 auto;
        /* border:1px solid red; */
        position: relative;
    }
    #content form ul li{
        margin-bottom:5px;
    }
    #content form ul li label{
        font-size: 18px;
        line-height: 40px;
    }
    #content form ul li label sup{
        color:red;
    }
    #content form ul li.pw span{
        background-color: rgb(233, 232, 232);
        border-radius: 50%;
        padding:0 8px;
        /* cursor:pointer; */
    }
    #content form ul li.add span{
        background-color: rgb(233, 232, 232);
        border-radius: 30px;
        padding:2px 7px;
    }
    aside .pop{
        width:320px;
        height:80px;
        background-color: rgb(233, 232, 232);
        position:absolute;
        top:52%;
        left:40%;
        display:none;
        transition: .5s;
        z-index: 1000;
    }
    aside .pop p{
        font-size: 14px;
        text-align: center;
        margin-top:20px;
    }
    #content form ul li.pw span:hover .pop{
        /* opacity: 1; */
    }
    #content form ul li input[id=userid]{
        width: 230px;
        height:40px;
        margin-left:122px;
    }
    #content form ul li input[id=password01]{
        width: 355px;
        height:40px;
        margin-left:77px;
    }
    #content form ul li input[id=password02]{
        width: 355px;
        height:40px;
        margin-left:67px;
    }
    #content form ul li input[id=username]{
        width: 230px;
        height:40px;
        margin-left:138px;
    }
    #content form ul li input[id=address]{
        width: 230px;
        height:40px;
        margin-left:149px;
        margin-top:5px;
    }
    #content form ul li input[id=address02]{
        width: 355px;
        height:40px;
        margin-left:187px;
        margin-top:10px;
    }
    #content form ul li input[id=address03]{
        width: 355px;
        height:40px;
        margin-left:187px;
        margin-top:10px;
    }
    #content form ul li input[id=address03]{
        width: 355px;
        height:40px;
        margin-left:187px;
        margin-top:10px;
    }
    #content form ul li label[for=phone]{
        line-height: 40px;
    }
    #content form ul li input[id=phone]{
        width: 100px;
        height:44px;
        margin-left:116px;
        margin-top:10px;
    }
    #content form ul li input[id=phone02]{
        width: 100px;
        height:40px;
        /* margin-left:250px; */
        margin-top:10px;
    }
    #content form ul li input[id=phone03]{
        width: 100px;
        height:40px;
        /* margin-left:250px; */
        margin-top:10px;
    }
    #content form ul li input[id=e-mail]{
        width: 163px;
        height:40px;
        margin-left:132px;
        margin-top:10px;
    }
    #content form ul li input[id=e-mail02]{
        width: 163px;
        height:40px;
        /* margin-left:132px; */
        margin-top:10px;
    }
    #content form li.last{
        margin-bottom: 0px;
    }
    #content form .last .name{
        font-size: 18px;
    }
    #content form .last .underline{
        text-decoration: underline;
        cursor: pointer;
    }
    #content form .last .green{
        color:rgb(104, 207, 147);
    }
    #content form .last ul{
        /* border:1px solid red; */
        position:absolute;
        top: 65%;
        left:30%;
    }
    #content .end{
        margin:0 auto;
        text-align: center;
        width:400px;
        padding:20px 0;
        background-color: #fffbca;
        border-radius: 10px;
        color:#999;
        font-size:22px;
        /* margin-top:30px; */
        margin-bottom:50px;
        cursor:pointer
    }
    /* ---------- footer 시작 ---------- */
    footer{
        background-color: rgb(238, 236, 236);
        height:230px;
    }
    footer .footer{
        height: 65px;
        padding-top:25px;
    }
    footer .footer_logo{
        float:left;
        cursor:pointer;
        width:300px;
        
    }
    footer .footer_logo img{
        width:100%;
    }
    footer .footer_icon{
        float:right;
    }
    footer .footer_icon a{
        padding:0 20px;
        line-height: 65px;
    }

    footer .cs{
        font-size:23px;
    }
    footer ul{
        height:26px;
        margin-bottom:10px;
    }
    footer ul li{
        float:left;
        margin-right:25px;
    }
    footer .top{
        position:fixed;
        bottom:15px;
        right:15px;
    }